@font-face {
    font-family: 'Gaegu';
    src: url('../Schriften/Gaegu/Gaegu-Regular.woff2') format('woff2'),
        url('../Schriften/Gaegu/Gaegu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gaegu';
    src: url('../Schriften/Gaegu/Gaegu-Light.woff2') format('woff2'),
        url('../Schriften/Gaegu/Gaegu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BPreplay';
    src: url('../Schriften/BPreplay/BPreplay-Bold.woff2') format('woff2'),
        url('../Schriften/BPreplay/BPreplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BPreplay';
    src: url('../Schriften/BPreplay/BPreplay.woff2') format('woff2'),
        url('../Schriften/BPreplay/BPreplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


