




nav{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(34, 34, 34,0.8);
    
    }
    

    ul{
        display: flex;
        margin: 0;
        padding: 0;

        li a{
            font-size: 5rem;
            margin-right: 3.8rem;
        }
        li:last-child{
            margin-right: 0;
        }

        li a:hover{
            color: $navHoverColor;
        }











           


    }


}
