.headline{
    font-size: $fontSizeH1;
    color: $headlineColor;
}

.main-headline{
    text-shadow: rgba(244, 166, 74, 0.7) -14px 8px 0px;
    text-align: center;

}

.headline-span{
    display:block;
    font-size: $fontSizeH1;
    text-transform: uppercase;

}

.site-title{
    position: relative;
    width: 100vw;
    padding: 14rem 0;

}




/*############# PIZZZZA CIRCLE##############*/ 
.pizza-pos-main{
    position: relative;
}

.pizza-anm{
    z-index: 1;

}



.pizza-circle{
    position: absolute;
    top: 40rem;
    left: -3.5rem;
    width: 60rem;
    z-index: -1;
}

.pizza-pizza{
    position: absolute;
    top: 44.3rem;
    left: 0.9rem;
    width: 51rem;
    z-index: -1;
}


.pizza-circle2{
    position: absolute;
    top: 40rem;
    right: -3.5rem;
    width: 60rem;
    z-index: -1;

}

.pizza-pizza2{
    position: absolute;
    top: 44.3rem;
    right: 0.9rem;
    width: 51rem;
    z-index: -1;
}







