

/*###### COLOR VARIABLES ##########*/ 


$backColor : #3D3D3D;
$backColorLight: #F6F3EE;
$textColorDark: #3d3d3d;
$textColorLight: white;
$secondaryColor: #F6F3EE;
$textShadowLight: #FDA016;
$textShadowDark: #BD8848;
$headlineColor: white;
$btnColor: #3d3d3d;
$underlineColor: #FDA016;
$navHoverColor: #D54835;


/*######### FONT SIZE VARIABLES ######## */ 

$fontSizeP : 2.2rem;
$fontSizeH1 : 12rem;
$fontSizeH2 : 5rem;
$fontSizeH3 : 3.5rem;
$fontSizeBtnBig : 2.8rem;
$fontSizeBtnSmall: 1.8rem;
$fontSizePrice: 4rem;
$fontSizeNavItems: 5rem;
$fontSizeBannerList: 4.6rem;
$fontSizePizzaList: 3rem;
$fontSizeData: 2rem;


/*######### PADDING & MARGIN VARIABLES ########*/ 

$wrapperPaddingPC: 8rem;
$wrapperPizzaList: 16rem;

